:root {
  --color---gallery: rgba(236, 236, 236, 1);
  --color---boulder: rgba(116, 116, 116, 1);
  --color---alto: rgba(221, 221, 221, 1);

  --color---tundora: rgba(68, 68, 68, 1);
  --color---emperor: rgba(85, 85, 85, 1);
  --color---black: rgba(0, 0, 0, 1);
  --color---storm--dust: rgba(114, 114, 112, 1);
  --color---dove--gray: rgba(102, 102, 102, 1);
  --color---mine--shaft: rgba(34, 34, 34, 1);
  --color---silver--chalice: rgba(170, 170, 170, 1);
  --color---keppel: rgba(70, 187, 144, 1);
  --color---mercury: rgba(229, 229, 229, 1);
  --color---concrete: rgba(243, 243, 243, 1);
  --color---alto: rgba(215, 212, 212, 1);
  --color---black-10: rgba(0, 0, 0, 0.10000000149011612);
  --color---tundora: rgba(74, 74, 74, 1);
  --color---mine--shaft: rgba(51, 51, 51, 1);
  --color---black-15: rgba(0, 0, 0, 0.15000000596046448);
  --color---gallery: rgba(238, 238, 238, 1);
  --color---black-75: rgba(0, 0, 0, 0.75);
  --color---mercury: rgba(232, 232, 232, 1);
  --color---mercury: rgba(234, 234, 234, 1);
  --color---alto: rgba(217, 217, 217, 1);
  --color---boulder: rgba(119, 119, 119, 1);
  --color---silver: rgba(191, 191, 191, 1);
  --apple--color---white: rgba(255, 255, 255, 1);
  --apple--color---black: rgba(0, 0, 0, 1);
  --apple--color---athens--gray: rgba(245, 245, 247, 1);
  --apple--color---mischka: rgba(225, 223, 229, 1);
  --apple--color---azure--radiance: rgba(0, 122, 255, 1);
  --apple--color---spring--wood: rgba(245, 245, 237, 1);
  --apple--color---science--blue: rgba(0, 102, 204, 1);
  --apple--color---shark: rgba(29, 29, 31, 1);
  --apple--color---science--blue: rgb(208, 22, 153);
  --apple--color---dodger--blue: rgb(155, 65, 32);
  --apple--color---mid--gray: rgba(110, 110, 115, 1);
  --apple--color---black-80: rgba(0, 0, 0, 0.800000011920929);
  --apple--color---black-42: rgba(0, 0, 0, 0.41999998688697815);
  --apple--color---pampas: rgba(235, 231, 224, 1);
  --apple--color---mischka: rgba(210, 210, 215, 1);
  --apple--color---black-16: rgba(0, 0, 0, 0.1599999964237213);
  --apple--color---black-56: rgba(0, 0, 0, 0.5600000023841858);
  --apple--color---black-72: rgba(0, 0, 0, 0.7200000286102295);
  --apple--color---black-88: rgba(0, 0, 0, 0.8799999952316284);
  --apple--color---black-48: rgba(0, 0, 0, 0.47999998927116394);
  --apple--color---woodsmoke-80: rgba(22, 22, 23, 0.800000011920929);
  --apple--color---white-80: rgba(255, 255, 255, 0.800000011920929);

  /* Text-size styles */
  --text---noto--sans--c-j-k--k-r---regular-13: 13px;
  --text---noto--sans--c-j-k--k-r---regular-9: 9px;
  --text---noto--sans--c-j-k--k-r---medium-17: 17px;
  --text---noto--sans--c-j-k--k-r---regular-15: 15px;
  --text---noto--sans--c-j-k--k-r---regular-15: 15px;
  --text---noto--sans--c-j-k--k-r---regular-17: 17px;
  --text---noto--sans--c-j-k--k-r---regular-14: 14px;
  --text---noto--sans--c-j-k--k-r---regular-15-strikethrough: 15px;
  --text---noto--sans--c-j-k--k-r---bold-15: 15px;
  --text---noto--sans--c-j-k--k-r---bold-1488: 14.8828125px;
  --text---noto--sans--c-j-k--k-r---bold-16: 16px;
  --text---noto--sans--c-j-k--k-r---medium-32: 32px;
  --text---noto--sans--c-j-k--k-r---regular-11: 11px;
  --text---noto--sans--c-j-k--k-r---bold-22: 22px;
  --text---noto--sans--c-j-k--k-r---regular-17: 17px;
  --text---noto--sans--c-j-k--k-r---medium-14: 14px;
  --text---noto--sans--c-j-k--k-r---bold-26: 26px;
  --text---noto--sans--c-j-k--k-r---regular-13: 13px;
  --text---noto--sans--c-j-k--k-r---bold-13: 13px;
  --text---noto--sans--c-j-k--k-r---regular-13: 13px;
  --text---noto--sans--c-j-k--k-r---regular-12: 12px;
  --text---noto--sans--c-j-k--k-r---medium-11: 11px;
  --text---noto--sans--c-j-k--k-r---regular-13: 13px;
  --text---noto--sans--c-j-k--k-r---bold-13: 13px;
  --text---noto--sans--c-j-k--k-r---regular-12: 12px;
  --text---noto--sans--c-j-k--k-r---bold-12: 12px;
  --text---noto--sans--c-j-k--k-r---regular-12: 12px;
  --text---noto--sans--c-j-k--k-r---regular-11: 11px;
  --text---noto--sans--c-j-k--k-r---regular-14: 14px;
  --text---dotum---regular-1181: 11.8125px;
  --text---dotum---regular-919: 9.1875px;
  --text---dotum---regular-1088: 10.875px;
  --text---dotum---regular-1181: 11.8125px;
  --text---dotum---regular-12: 12px;
  --text---dotum---regular-1106: 11.0625px;
  --text---dotum---regular-1088: 10.875px;
  --text---dotum---regular-1069: 10.6875px;
  --text---dotum---regular-1144: 11.4375px;
  --text---dotum---regular-1163: 11.625px;
  --text---dotum---regular-1144: 11.4375px;
  --text---dotum---regular-15: 15px;
  --text---roboto---regular-18: 18px;
  --text---roboto---medium-14: 14px;
  --apple--text---arial---narrow-28: 28px;
  --apple--text---arial---narrow-17: 17px;
  --apple--text---arial---bold-5152: 51.515625px;
  --apple--text---arial---narrow-21: 21px;
  --apple--text---arial---narrow-14: 14px;
  --apple--text---arial---bold-3531: 35.3125px;
  --apple--text---arial---narrow-17: 17px;
  --apple--text---arial---bold-3656: 36.5625px;
  --apple--text---arial---bold-15: 15px;
  --apple--text---arial---narrow-15: 15px;
  --apple--text---arial---bold-14: 14px;
  --apple--text---arial---narrow-12: 12px;
  --apple--text---arial---narrow-12-underline: 12px;
  --apple--text---arial---bold-12: 12px;
  --apple--text---arial---bold-1181: 11.8125px;
  --apple--text---arial---narrow-24: 24px;
  --apple--text---arial---bold-4406: 44.0625px;
  --apple--text---arial---narrow-19: 19px;
  --apple--text---arial---bold-2825: 28.25px;
  --apple--text---arial---bold-2938: 29.375px;
  --apple--text---arial---bold-1395: 13.9453125px;
  --apple--text---arial---narrow-1395: 13.9453125px;
  --apple--text---arial---bold-295: 29.5px;
  --apple--text---arial---narrow-1289: 12.890625px;
  --apple--text---arial---narrow-15: 15px;
  --apple--text---arial---narrow-1277: 12.7734375px;
  --apple--text---arial---bold-1266: 12.65625px;
}
