:root {
  --colorwhite: rgba(255, 255, 255, 1);
  --colorgallery: rgba(236, 236, 236, 1);
  --colorboulder: rgba(119, 119, 119, 1);
  --coloralto: rgba(217, 217, 217, 1);
  --colordell: rgba(61, 92, 22, 1);
  --colortundora: rgba(74, 74, 74, 1);
  --coloremperor: rgba(85, 85, 85, 1);
  --colorblack: rgba(0, 0, 0, 1);
  --colorstorm-dust: rgba(114, 114, 112, 1);
  --colordove-gray: rgba(102, 102, 102, 1);
  --colormine-shaft: rgba(51, 51, 51, 1);
  --colorsilver-chalice: rgba(170, 170, 170, 1);
  --colorkeppel: rgba(70, 187, 144, 1);
  --colormercury: rgba(229, 229, 229, 1);
  --colorconcrete: rgba(243, 243, 243, 1);
  --colorblack-10: rgba(0, 0, 0, 0.1);
  --colorblack-15: rgba(0, 0, 0, 0.15);
  --colorblack-75: rgba(0, 0, 0, 0.75);
  --colorsilver: rgba(191, 191, 191, 1);
  --applecolorwhite: rgba(255, 255, 255, 1);
  --applecolorblack: rgba(0, 0, 0, 1);
  --applecolorathens-gray: rgba(245, 245, 247, 1);
  --applecolormischka: rgba(210, 210, 215, 1);
  --applecolorazure-radiance: rgba(0, 122, 255, 1);
  --applecolorspring-wood: rgba(245, 245, 237, 1);
  --applecolorscience-blue: rgba(0, 113, 227, 1);
  --applecolorshark: rgba(29, 29, 31, 1);
  --applecolordodger-blue: rgba(41, 151, 255, 1);
  --applecolormid-gray: rgba(110, 110, 115, 1);
  --applecolorblack-80: rgba(0, 0, 0, 0.8);
  --applecolorblack-42: rgba(0, 0, 0, 0.42);
  --applecolorpampas: rgba(235, 231, 224, 1);
  --applecolorblack-16: rgba(0, 0, 0, 0.16);
  --applecolorblack-56: rgba(0, 0, 0, 0.56);
  --applecolorblack-72: rgba(0, 0, 0, 0.72);
  --applecolorblack-88: rgba(0, 0, 0, 0.88);
  --applecolorblack-48: rgba(0, 0, 0, 0.48);
  --applecolorwoodsmoke-80: rgba(22, 22, 23, 0.8);
  --applecolorwhite-80: rgba(255, 255, 255, 0.8);
  --text-noto-sans-CJK-KR-regular-13-font-family: "Noto Sans CJK KR", Helvetica;
  --text-noto-sans-CJK-KR-regular-13-font-weight: 400;
  --text-noto-sans-CJK-KR-regular-13-font-size: 13px;
  --text-noto-sans-CJK-KR-regular-13-letter-spacing: -0.25px;
  --text-noto-sans-CJK-KR-regular-13-line-height: normal;
  --text-noto-sans-CJK-KR-regular-13-font-style: normal;
  --text-noto-sans-CJK-KR-regular-9-font-family: "Noto Sans CJK KR", Helvetica;
  --text-noto-sans-CJK-KR-regular-9-font-weight: 400;
  --text-noto-sans-CJK-KR-regular-9-font-size: 9px;
  --text-noto-sans-CJK-KR-regular-9-letter-spacing: -0.25px;
  --text-noto-sans-CJK-KR-regular-9-line-height: 15px;
  --text-noto-sans-CJK-KR-regular-9-font-style: normal;
  --text-noto-sans-CJK-KR-medium-17-font-family: "Noto Sans CJK KR", Helvetica;
  --text-noto-sans-CJK-KR-medium-17-font-weight: 500;
  --text-noto-sans-CJK-KR-medium-17-font-size: 17px;
  --text-noto-sans-CJK-KR-medium-17-letter-spacing: -0.25px;
  --text-noto-sans-CJK-KR-medium-17-line-height: 60px;
  --text-noto-sans-CJK-KR-medium-17-font-style: normal;
  --text-noto-sans-CJK-KR-regular-15-font-family: "Noto Sans CJK KR", Helvetica;
  --text-noto-sans-CJK-KR-regular-15-font-weight: 400;
  --text-noto-sans-CJK-KR-regular-15-font-size: 15px;
  --text-noto-sans-CJK-KR-regular-15-letter-spacing: -0.25px;
  --text-noto-sans-CJK-KR-regular-15-line-height: 32px;
  --text-noto-sans-CJK-KR-regular-15-font-style: normal;
  --text-noto-sans-CJK-KR-regular-17-font-family: "Noto Sans CJK KR", Helvetica;
  --text-noto-sans-CJK-KR-regular-17-font-weight: 400;
  --text-noto-sans-CJK-KR-regular-17-font-size: 17px;
  --text-noto-sans-CJK-KR-regular-17-letter-spacing: -0.25px;
  --text-noto-sans-CJK-KR-regular-17-line-height: 23.799999237060547px;
  --text-noto-sans-CJK-KR-regular-17-font-style: normal;
  --text-noto-sans-CJK-KR-regular-14-font-family: "Noto Sans CJK KR", Helvetica;
  --text-noto-sans-CJK-KR-regular-14-font-weight: 400;
  --text-noto-sans-CJK-KR-regular-14-font-size: 14px;
  --text-noto-sans-CJK-KR-regular-14-letter-spacing: -0.25px;
  --text-noto-sans-CJK-KR-regular-14-line-height: normal;
  --text-noto-sans-CJK-KR-regular-14-font-style: normal;
  --text-noto-sans-CJK-KR-regular-15-strikethrough-font-family: "Noto Sans CJK KR", Helvetica;
  --text-noto-sans-CJK-KR-regular-15-strikethrough-font-weight: 400;
  --text-noto-sans-CJK-KR-regular-15-strikethrough-font-size: 15px;
  --text-noto-sans-CJK-KR-regular-15-strikethrough-letter-spacing: -0.25px;
  --text-noto-sans-CJK-KR-regular-15-strikethrough-line-height: 19.5px;
  --text-noto-sans-CJK-KR-regular-15-strikethrough-font-style: normal;
  --text-noto-sans-CJK-KR-bold-15-font-family: "Noto Sans CJK KR", Helvetica;
  --text-noto-sans-CJK-KR-bold-15-font-weight: 700;
  --text-noto-sans-CJK-KR-bold-15-font-size: 15px;
  --text-noto-sans-CJK-KR-bold-15-letter-spacing: -0.25px;
  --text-noto-sans-CJK-KR-bold-15-line-height: 19.5px;
  --text-noto-sans-CJK-KR-bold-15-font-style: normal;
  --text-noto-sans-CJK-KR-bold-14-88-font-family: "Noto Sans CJK KR", Helvetica;
  --text-noto-sans-CJK-KR-bold-14-88-font-weight: 700;
  --text-noto-sans-CJK-KR-bold-14-88-font-size: 14.8828125px;
  --text-noto-sans-CJK-KR-bold-14-88-letter-spacing: -0.25px;
  --text-noto-sans-CJK-KR-bold-14-88-line-height: 19.5px;
  --text-noto-sans-CJK-KR-bold-14-88-font-style: normal;
  --text-noto-sans-CJK-KR-bold-16-font-family: "Noto Sans CJK KR", Helvetica;
  --text-noto-sans-CJK-KR-bold-16-font-weight: 700;
  --text-noto-sans-CJK-KR-bold-16-font-size: 16px;
  --text-noto-sans-CJK-KR-bold-16-letter-spacing: -0.25px;
  --text-noto-sans-CJK-KR-bold-16-line-height: 20.799999237060547px;
  --text-noto-sans-CJK-KR-bold-16-font-style: normal;
  --text-noto-sans-CJK-KR-medium-32-font-family: "Noto Sans CJK KR", Helvetica;
  --text-noto-sans-CJK-KR-medium-32-font-weight: 500;
  --text-noto-sans-CJK-KR-medium-32-font-size: 32px;
  --text-noto-sans-CJK-KR-medium-32-letter-spacing: -0.25px;
  --text-noto-sans-CJK-KR-medium-32-line-height: normal;
  --text-noto-sans-CJK-KR-medium-32-font-style: normal;
  --text-noto-sans-CJK-KR-regular-11-font-family: "Noto Sans CJK KR", Helvetica;
  --text-noto-sans-CJK-KR-regular-11-font-weight: 400;
  --text-noto-sans-CJK-KR-regular-11-font-size: 11px;
  --text-noto-sans-CJK-KR-regular-11-letter-spacing: -0.25px;
  --text-noto-sans-CJK-KR-regular-11-line-height: 15px;
  --text-noto-sans-CJK-KR-regular-11-font-style: normal;
  --text-noto-sans-CJK-KR-bold-22-font-family: "Noto Sans CJK KR", Helvetica;
  --text-noto-sans-CJK-KR-bold-22-font-weight: 700;
  --text-noto-sans-CJK-KR-bold-22-font-size: 22px;
  --text-noto-sans-CJK-KR-bold-22-letter-spacing: -0.25px;
  --text-noto-sans-CJK-KR-bold-22-line-height: 33px;
  --text-noto-sans-CJK-KR-bold-22-font-style: normal;
  --text-noto-sans-CJK-KR-medium-14-font-family: "Noto Sans CJK KR", Helvetica;
  --text-noto-sans-CJK-KR-medium-14-font-weight: 500;
  --text-noto-sans-CJK-KR-medium-14-font-size: 14px;
  --text-noto-sans-CJK-KR-medium-14-letter-spacing: -0.25px;
  --text-noto-sans-CJK-KR-medium-14-line-height: normal;
  --text-noto-sans-CJK-KR-medium-14-font-style: normal;
  --text-noto-sans-CJK-KR-bold-26-font-family: "Noto Sans CJK KR", Helvetica;
  --text-noto-sans-CJK-KR-bold-26-font-weight: 700;
  --text-noto-sans-CJK-KR-bold-26-font-size: 26px;
  --text-noto-sans-CJK-KR-bold-26-letter-spacing: -0.25px;
  --text-noto-sans-CJK-KR-bold-26-line-height: normal;
  --text-noto-sans-CJK-KR-bold-26-font-style: normal;
  --text-noto-sans-CJK-KR-bold-13-font-family: "Noto Sans CJK KR", Helvetica;
  --text-noto-sans-CJK-KR-bold-13-font-weight: 700;
  --text-noto-sans-CJK-KR-bold-13-font-size: 13px;
  --text-noto-sans-CJK-KR-bold-13-letter-spacing: -0.25px;
  --text-noto-sans-CJK-KR-bold-13-line-height: normal;
  --text-noto-sans-CJK-KR-bold-13-font-style: normal;
  --text-noto-sans-CJK-KR-regular-12-font-family: "Noto Sans CJK KR", Helvetica;
  --text-noto-sans-CJK-KR-regular-12-font-weight: 400;
  --text-noto-sans-CJK-KR-regular-12-font-size: 12px;
  --text-noto-sans-CJK-KR-regular-12-letter-spacing: -0.25px;
  --text-noto-sans-CJK-KR-regular-12-line-height: 35px;
  --text-noto-sans-CJK-KR-regular-12-font-style: normal;
  --text-noto-sans-CJK-KR-medium-11-font-family: "Noto Sans CJK KR", Helvetica;
  --text-noto-sans-CJK-KR-medium-11-font-weight: 500;
  --text-noto-sans-CJK-KR-medium-11-font-size: 11px;
  --text-noto-sans-CJK-KR-medium-11-letter-spacing: -0.25px;
  --text-noto-sans-CJK-KR-medium-11-line-height: normal;
  --text-noto-sans-CJK-KR-medium-11-font-style: normal;
  --text-noto-sans-CJK-KR-bold-12-font-family: "Noto Sans CJK KR", Helvetica;
  --text-noto-sans-CJK-KR-bold-12-font-weight: 700;
  --text-noto-sans-CJK-KR-bold-12-font-size: 12px;
  --text-noto-sans-CJK-KR-bold-12-letter-spacing: -0.25px;
  --text-noto-sans-CJK-KR-bold-12-line-height: 19.200000762939453px;
  --text-noto-sans-CJK-KR-bold-12-font-style: normal;
  --text-dotum-regular-11-81-font-family: "Dotum", Helvetica;
  --text-dotum-regular-11-81-font-weight: 400;
  --text-dotum-regular-11-81-font-size: 11.8125px;
  --text-dotum-regular-11-81-letter-spacing: 0px;
  --text-dotum-regular-11-81-line-height: 15px;
  --text-dotum-regular-11-81-font-style: normal;
  --text-dotum-regular-9-19-font-family: "Dotum", Helvetica;
  --text-dotum-regular-9-19-font-weight: 400;
  --text-dotum-regular-9-19-font-size: 9.1875px;
  --text-dotum-regular-9-19-letter-spacing: 0px;
  --text-dotum-regular-9-19-line-height: normal;
  --text-dotum-regular-9-19-font-style: normal;
  --text-dotum-regular-10-88-font-family: "Dotum", Helvetica;
  --text-dotum-regular-10-88-font-weight: 400;
  --text-dotum-regular-10-88-font-size: 10.875px;
  --text-dotum-regular-10-88-letter-spacing: 0px;
  --text-dotum-regular-10-88-line-height: 15px;
  --text-dotum-regular-10-88-font-style: normal;
  --text-dotum-regular-12-font-family: "Dotum", Helvetica;
  --text-dotum-regular-12-font-weight: 400;
  --text-dotum-regular-12-font-size: 12px;
  --text-dotum-regular-12-letter-spacing: 0px;
  --text-dotum-regular-12-line-height: 15px;
  --text-dotum-regular-12-font-style: normal;
  --text-dotum-regular-11-06-font-family: "Dotum", Helvetica;
  --text-dotum-regular-11-06-font-weight: 400;
  --text-dotum-regular-11-06-font-size: 11.0625px;
  --text-dotum-regular-11-06-letter-spacing: 0px;
  --text-dotum-regular-11-06-line-height: 15px;
  --text-dotum-regular-11-06-font-style: normal;
  --text-dotum-regular-10-69-font-family: "Dotum", Helvetica;
  --text-dotum-regular-10-69-font-weight: 400;
  --text-dotum-regular-10-69-font-size: 10.6875px;
  --text-dotum-regular-10-69-letter-spacing: 0px;
  --text-dotum-regular-10-69-line-height: normal;
  --text-dotum-regular-10-69-font-style: normal;
  --text-dotum-regular-11-44-font-family: "Dotum", Helvetica;
  --text-dotum-regular-11-44-font-weight: 400;
  --text-dotum-regular-11-44-font-size: 11.4375px;
  --text-dotum-regular-11-44-letter-spacing: 0px;
  --text-dotum-regular-11-44-line-height: 15px;
  --text-dotum-regular-11-44-font-style: normal;
  --text-dotum-regular-11-63-font-family: "Dotum", Helvetica;
  --text-dotum-regular-11-63-font-weight: 400;
  --text-dotum-regular-11-63-font-size: 11.625px;
  --text-dotum-regular-11-63-letter-spacing: 0px;
  --text-dotum-regular-11-63-line-height: 16.799999237060547px;
  --text-dotum-regular-11-63-font-style: normal;
  --text-dotum-regular-15-font-family: "Dotum", Helvetica;
  --text-dotum-regular-15-font-weight: 400;
  --text-dotum-regular-15-font-size: 15px;
  --text-dotum-regular-15-letter-spacing: 0px;
  --text-dotum-regular-15-line-height: 40px;
  --text-dotum-regular-15-font-style: normal;
  --text-roboto-regular-18-font-family: "Roboto", Helvetica;
  --text-roboto-regular-18-font-weight: 400;
  --text-roboto-regular-18-font-size: 18px;
  --text-roboto-regular-18-letter-spacing: 0px;
  --text-roboto-regular-18-line-height: 23.399999618530273px;
  --text-roboto-regular-18-font-style: normal;
  --text-roboto-medium-14-font-family: "Roboto", Helvetica;
  --text-roboto-medium-14-font-weight: 500;
  --text-roboto-medium-14-font-size: 14px;
  --text-roboto-medium-14-letter-spacing: 0px;
  --text-roboto-medium-14-line-height: 18.200000762939453px;
  --text-roboto-medium-14-font-style: normal;
  --apple-text-arial-narrow-28-font-family: "Arial", Helvetica;
  --apple-text-arial-narrow-28-font-weight: 400;
  --apple-text-arial-narrow-28-font-size: 28px;
  --apple-text-arial-narrow-28-letter-spacing: 0.19599999487400055px;
  --apple-text-arial-narrow-28-line-height: 32px;
  --apple-text-arial-narrow-28-font-style: normal;
  --apple-text-arial-narrow-17-font-family: "Arial", Helvetica;
  --apple-text-arial-narrow-17-font-weight: 400;
  --apple-text-arial-narrow-17-font-size: 17px;
  --apple-text-arial-narrow-17-letter-spacing: -0.37400001287460327px;
  --apple-text-arial-narrow-17-line-height: 21px;
  --apple-text-arial-narrow-17-font-style: normal;
  --apple-text-arial-bold-51-52-font-family: "Arial", Helvetica;
  --apple-text-arial-bold-51-52-font-weight: 700;
  --apple-text-arial-bold-51-52-font-size: 51.515625px;
  --apple-text-arial-bold-51-52-letter-spacing: -0.2800000011920929px;
  --apple-text-arial-bold-51-52-line-height: 60px;
  --apple-text-arial-bold-51-52-font-style: normal;
  --apple-text-arial-narrow-21-font-family: "Arial", Helvetica;
  --apple-text-arial-narrow-21-font-weight: 400;
  --apple-text-arial-narrow-21-font-size: 21px;
  --apple-text-arial-narrow-21-letter-spacing: 0.23100000619888306px;
  --apple-text-arial-narrow-21-line-height: 25px;
  --apple-text-arial-narrow-21-font-style: normal;
  --apple-text-arial-narrow-14-font-family: "Arial", Helvetica;
  --apple-text-arial-narrow-14-font-weight: 400;
  --apple-text-arial-narrow-14-font-size: 14px;
  --apple-text-arial-narrow-14-letter-spacing: -0.2240000069141388px;
  --apple-text-arial-narrow-14-line-height: 20px;
  --apple-text-arial-narrow-14-font-style: normal;
  --apple-text-arial-bold-35-31-font-family: "Arial", Helvetica;
  --apple-text-arial-bold-35-31-font-weight: 700;
  --apple-text-arial-bold-35-31-font-size: 35.3125px;
  --apple-text-arial-bold-35-31-letter-spacing: 0px;
  --apple-text-arial-bold-35-31-line-height: 44px;
  --apple-text-arial-bold-35-31-font-style: normal;
  --apple-text-arial-bold-36-56-font-family: "Arial", Helvetica;
  --apple-text-arial-bold-36-56-font-weight: 700;
  --apple-text-arial-bold-36-56-font-size: 36.5625px;
  --apple-text-arial-bold-36-56-letter-spacing: 0px;
  --apple-text-arial-bold-36-56-line-height: 44px;
  --apple-text-arial-bold-36-56-font-style: normal;
  --apple-text-arial-bold-15-font-family: "Arial", Helvetica;
  --apple-text-arial-bold-15-font-weight: 700;
  --apple-text-arial-bold-15-font-size: 15px;
  --apple-text-arial-bold-15-letter-spacing: 0px;
  --apple-text-arial-bold-15-line-height: 22px;
  --apple-text-arial-bold-15-font-style: normal;
  --apple-text-arial-narrow-15-font-family: "Arial", Helvetica;
  --apple-text-arial-narrow-15-font-weight: 400;
  --apple-text-arial-narrow-15-font-size: 15px;
  --apple-text-arial-narrow-15-letter-spacing: 0px;
  --apple-text-arial-narrow-15-line-height: 20px;
  --apple-text-arial-narrow-15-font-style: normal;
  --apple-text-arial-bold-14-font-family: "Arial", Helvetica;
  --apple-text-arial-bold-14-font-weight: 700;
  --apple-text-arial-bold-14-font-size: 14px;
  --apple-text-arial-bold-14-letter-spacing: -0.2240000069141388px;
  --apple-text-arial-bold-14-line-height: 18px;
  --apple-text-arial-bold-14-font-style: normal;
  --apple-text-arial-narrow-12-font-family: "Arial", Helvetica;
  --apple-text-arial-narrow-12-font-weight: 400;
  --apple-text-arial-narrow-12-font-size: 12px;
  --apple-text-arial-narrow-12-letter-spacing: -0.11999999731779099px;
  --apple-text-arial-narrow-12-line-height: 16px;
  --apple-text-arial-narrow-12-font-style: normal;
  --apple-text-arial-narrow-12-underline-font-family: "Arial", Helvetica;
  --apple-text-arial-narrow-12-underline-font-weight: 400;
  --apple-text-arial-narrow-12-underline-font-size: 12px;
  --apple-text-arial-narrow-12-underline-letter-spacing: -0.11999999731779099px;
  --apple-text-arial-narrow-12-underline-line-height: 16px;
  --apple-text-arial-narrow-12-underline-font-style: normal;
  --apple-text-arial-bold-12-font-family: "Arial", Helvetica;
  --apple-text-arial-bold-12-font-weight: 700;
  --apple-text-arial-bold-12-font-size: 12px;
  --apple-text-arial-bold-12-letter-spacing: -0.11999999731779099px;
  --apple-text-arial-bold-12-line-height: 16px;
  --apple-text-arial-bold-12-font-style: normal;
  --apple-text-arial-bold-11-81-font-family: "Arial", Helvetica;
  --apple-text-arial-bold-11-81-font-weight: 700;
  --apple-text-arial-bold-11-81-font-size: 11.8125px;
  --apple-text-arial-bold-11-81-letter-spacing: -0.11999999731779099px;
  --apple-text-arial-bold-11-81-line-height: 16px;
  --apple-text-arial-bold-11-81-font-style: normal;
  --apple-text-arial-narrow-24-font-family: "Arial", Helvetica;
  --apple-text-arial-narrow-24-font-weight: 400;
  --apple-text-arial-narrow-24-font-size: 24px;
  --apple-text-arial-narrow-24-letter-spacing: 0.2160000056028366px;
  --apple-text-arial-narrow-24-line-height: 28px;
  --apple-text-arial-narrow-24-font-style: normal;
  --apple-text-arial-bold-44-06-font-family: "Arial", Helvetica;
  --apple-text-arial-bold-44-06-font-weight: 700;
  --apple-text-arial-bold-44-06-font-size: 44.0625px;
  --apple-text-arial-bold-44-06-letter-spacing: -0.09600000083446503px;
  --apple-text-arial-bold-44-06-line-height: 52.0099983215332px;
  --apple-text-arial-bold-44-06-font-style: normal;
  --apple-text-arial-narrow-19-font-family: "Arial", Helvetica;
  --apple-text-arial-narrow-19-font-weight: 400;
  --apple-text-arial-narrow-19-font-size: 19px;
  --apple-text-arial-narrow-19-letter-spacing: 0.2280000001192093px;
  --apple-text-arial-narrow-19-line-height: 23px;
  --apple-text-arial-narrow-19-font-style: normal;
  --apple-text-arial-bold-28-25-font-family: "Arial", Helvetica;
  --apple-text-arial-bold-28-25-font-weight: 700;
  --apple-text-arial-bold-28-25-font-size: 28.25px;
  --apple-text-arial-bold-28-25-letter-spacing: 0.06400000303983688px;
  --apple-text-arial-bold-28-25-line-height: 36px;
  --apple-text-arial-bold-28-25-font-style: normal;
  --apple-text-arial-bold-29-38-font-family: "Arial", Helvetica;
  --apple-text-arial-bold-29-38-font-weight: 700;
  --apple-text-arial-bold-29-38-font-size: 29.375px;
  --apple-text-arial-bold-29-38-letter-spacing: 0.06400000303983688px;
  --apple-text-arial-bold-29-38-line-height: 36px;
  --apple-text-arial-bold-29-38-font-style: normal;
  --apple-text-arial-bold-13-95-font-family: "Arial", Helvetica;
  --apple-text-arial-bold-13-95-font-weight: 700;
  --apple-text-arial-bold-13-95-font-size: 13.9453125px;
  --apple-text-arial-bold-13-95-letter-spacing: -0.37400001287460327px;
  --apple-text-arial-bold-13-95-line-height: 21px;
  --apple-text-arial-bold-13-95-font-style: normal;
  --apple-text-arial-narrow-13-95-font-family: "Arial", Helvetica;
  --apple-text-arial-narrow-13-95-font-weight: 400;
  --apple-text-arial-narrow-13-95-font-size: 13.9453125px;
  --apple-text-arial-narrow-13-95-letter-spacing: -0.37400001287460327px;
  --apple-text-arial-narrow-13-95-line-height: 21px;
  --apple-text-arial-narrow-13-95-font-style: normal;
  --apple-text-arial-bold-29-5-font-family: "Arial", Helvetica;
  --apple-text-arial-bold-29-5-font-weight: 700;
  --apple-text-arial-bold-29-5-font-size: 29.5px;
  --apple-text-arial-bold-29-5-letter-spacing: 0.12800000607967377px;
  --apple-text-arial-bold-29-5-line-height: 36px;
  --apple-text-arial-bold-29-5-font-style: normal;
  --apple-text-arial-narrow-12-89-font-family: "Arial", Helvetica;
  --apple-text-arial-narrow-12-89-font-weight: 400;
  --apple-text-arial-narrow-12-89-font-size: 12.890625px;
  --apple-text-arial-narrow-12-89-letter-spacing: 0px;
  --apple-text-arial-narrow-12-89-line-height: 20px;
  --apple-text-arial-narrow-12-89-font-style: normal;
  --apple-text-arial-narrow-12-77-font-family: "Arial", Helvetica;
  --apple-text-arial-narrow-12-77-font-weight: 400;
  --apple-text-arial-narrow-12-77-font-size: 12.7734375px;
  --apple-text-arial-narrow-12-77-letter-spacing: 0px;
  --apple-text-arial-narrow-12-77-line-height: 20px;
  --apple-text-arial-narrow-12-77-font-style: normal;
  --apple-text-arial-bold-12-66-font-family: "Arial", Helvetica;
  --apple-text-arial-bold-12-66-font-weight: 700;
  --apple-text-arial-bold-12-66-font-size: 12.65625px;
  --apple-text-arial-bold-12-66-letter-spacing: 0px;
  --apple-text-arial-bold-12-66-line-height: 20px;
  --apple-text-arial-bold-12-66-font-style: normal;
}
